In [1]:
import mysql.connector as conn
import csv

In [2]:
class Database:
    def __init__(self, host, db, user, pwd, port):
        self.host = host
        self.db = db
        self.user = user
        self.pwd = pwd
        self.port = port
        
    def connect_db(self, conn):
        '''establishing connection with given db credentials. pass the connector/driver as argument. on success return the connection object'''
        try:
            mydb = conn.connect(host=self.host,database=self.db,user=self.user,passwd=self.pwd,port=self.port,use_pure=True)
            return mydb
        except Exception as e:
            return e
    
    def execute_db(self, mydb, query):
        '''executes any query and returns the cursor object. first argument is connection object and second argument is query'''
        try:
            cur = mydb.cursor()
            cur.execute(query)
            return cur
        except Exception as e:
            return e

In [3]:
#cur = mydb.cursor()
#cur.execute("create table carbon_nanotube(x1 float,x2 float,x3 float,x4 float,x5 float,x6 float,x7 float,x8 float,x9 float,x10 float,x11 float,x12 float,x13 float,x14 float)")

db = Database('localhost','ineuron_prac','root','sql@123',3300)
mydb = db.connect_db(conn)

with open('carbon_nanotubes.data') as f:
    data= csv.reader(f, delimiter='\n')
    for i,each_data in enumerate(data):
        if i == 0:
            #to ignore the first line of the file
            continue
        else:
            sep_list = each_data[0].split(';')
            sep_list = ','.join(sep_list)
            query = "insert into carbon_nanotube values("+sep_list+")"
            #query = "select * from carbon_nanotube limit 1"
            try:
                data = db.execute_db(mydb, query)
                mydb.commit() # this will raise an error in case of select query but will br handled by the below exception
                #cur.execute(query)
            except Exception as e:
                continue

#checking first 10 rows to see if data is inserted
query = "select * from carbon_nanotube limit 10"
data = db.execute_db(mydb, query)
print(data.fetchall())

mydb.close()

[(2.0, 1.0, 0.0, 679005.0, 0.0, 701318.0, 0.0, 17033.0, 0.0, 721039.0, 0.0, 730232.0, 0.0, 17014.0), (2.0, 1.0, 0.0, 679005.0, 0.0, 701318.0, 0.0, 17033.0, 0.0, 721039.0, 0.0, 730232.0, 0.0, 17014.0), (2.0, 1.0, 0.0, 717298.0, 0.0, 642129.0, 0.0, 231319.0, 0.0, 738414.0, 0.0, 65675.0, 0.0, 232369.0), (2.0, 1.0, 0.0, 489336.0, 0.0, 303751.0, 0.0, 88462.0, 0.0, 477676.0, 0.0, 263221.0, 0.0, 88712.0), (2.0, 1.0, 0.0, 413957.0, 0.0, 632996.0, 0.0, 40843.0, 0.0, 408823.0, 0.0, 657897.0, 0.0, 39796.0), (2.0, 1.0, 0.0, 334292.0, 0.0, 543401.0, 0.0, 15989.0, 0.0, 303349.0, 0.0, 558807.0, 0.0, 157373.0), (2.0, 1.0, 0.0, 510664.0, 0.0, 696249.0, 0.0, 255128.0, 0.0, 496977.0, 0.0, 725608.0, 0.0, 25597.0), (2.0, 1.0, 0.0, 413957.0, 0.0, 632996.0, 0.0, 374176.0, 0.0, 390878.0, 0.0, 657645.0, 0.0, 374735.0), (2.0, 1.0, 0.0, 712552.0, 0.0, 55479.0, 0.0, 112271.0, 0.0, 750056.0, 0.0, 561494.0, 0.0, 114944.0), (2.0, 1.0, 0.0, 320995.0, 0.0, 298682.0, 0.0, 1837.0, 0.0, 281301.0, 0.0, 261433.0, 0.0, 182779.0)]